#whitelist_user_list table {
	width: 100%;
    text-align: left;
    border-radius: 4px 4px 0 0;
    border-collapse: separate;
    border-spacing: 0;
}

.table_thead tr>th, .table_tbody tr>td {
    padding: 16px;
    overflow-wrap: break-word;
}

.table_thead tr>th {
    color: rgba(0,0,0,.85);
    font-weight: 500;
    text-align: left;
    background: #fafafa;
    border-bottom: 1px solid #e8e8e8;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}

.table_tbody tr>td {
    border-bottom: 1px solid #e8e8e8;
    -webkit-transition: all .3s,border 0s;
    transition: all .3s,border 0s;
}

.tag {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    display: inline-block;
    height: auto;
    margin-right: 8px;
    padding: 0 7px;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    background: #fafafa;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    cursor: default;
    opacity: 1;
    -webkit-transition: all .3s cubic-bezier(.78,.14,.15,.86);
    transition: all .3s cubic-bezier(.78,.14,.15,.86);
}

.tag-green {
    color: #52c41a;
    background: #f6ffed;
    border-color: #b7eb8f;
}

.tag-red {
    color: #fa541c;
    background: #fff2e8;
    border-color: #ffbb96;
}